<body style="background-color:lightgray;" >
    <style>
        h1 {text-align: center;}
        div {text-align: center;}
        ul {list-style-type: square;}
    </style>

    <h1>Joel Feddes</h1>
    <div>
        <a href="mailto:joeldfeddes@lewisu.edu">Send Email to Joel</a>
        <br>
        <img src="joel_feddes.jpg" alt="Joel Feddes" style="padding:1px;border:thin solid black; width:300px;height:300px;"/>
    </div>

    <h2>Joel Feddes Introduction</h2>
    <p>
        At Lewis University, I am majoring in both computer and data science and am minoring in math. 
        In October, I will turn 21 years old and am anticipating graduating this December.
        Also, I have 7 other siblings, am engaged, and plan to be married in June of 2022.
    </p>
    <hr>
    <h3>What I Hope to Learn From This Course</h3>
    <ul>
        <li>Agile Software Development Cycle</li>
        <li>MS Azure</li>
        <li>HTML, CSS, and JavaScript</li>
    </ul>
    <hr>
    <h3>My Favorite Hobby</h3>
    <p>
        Due to the inner peace I obtain by fishing, fishing is my favorite hobby.
        Personally, I love being in nature regardless of the reason.
        However, since an early age, I've always gone fishing with friends and family.
        I am to the point where fishing is what I resort to when I need some time away from work and school.
    </p>
    <hr>
    <h3>Greatest Innovations</h3>
    <ul>
        <li> 
            <a href = "https://www.history.com/topics/inventions/invention-of-the-internet">Internet</a>
        </li>
        <li> 
            <a href = "https://www.ericsson.com/en/about-us/history/changing-the-world/phones-for-everyone/the-invention-of-the-telephone">Phones</a>
        </li>
        <li> 
            <a href = "https://noonwownoon.com/invention-of-camera/#:~:text=Digital%20and%20Smartphone%20Cameras%20The%20first-ever%20digital%20photography,more%20than%20twenty%20seconds%20to%20capture%20an%20image.">Digital Cameras</a>
        </li>
    </ul>
    <hr>
    <h3>Fun Fact</h3>
    <p>
        Although I am a nerd by education, I am very active in the world of sports. You may see me playing basketball from time-to-time in the req center
    </p>

</body>