<body style="background-color:lightgray;" >
    <!-- <link rel="stylesheet" href="index.css">-->
    <style>
        h1 {text-align: center;}
        a {margin-left: 30px;}
    </style>

    <h1>Joel Feddes</h1>
    <h3>Web based Assignments:</h3>
    <div>
        <a href="https://assignment-portfolio-jdf.azurewebsites.net/eachother">Getting to Know Eachother</a>
        <br>
        <a href="https://assignment-portfolio-jdf.azurewebsites.net/resume">Resume</a>
        <br>
        <a href="https://assignment-portfolio-jdf.azurewebsites.net/dice">Dice Game</a>
        <br>
        <a href="https://assignment-portfolio-jdf.azurewebsites.net/regex">Regex</a>

    </div>
</body>
